@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, .font-display {
  font-family: 'Oswald', sans-serif;
}